html {
    background: cornsilk;
}

#content {
  margin-left: auto;
  margin-right: auto;
}

#about {
    background: coral;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#experience {
    background: cornflowerblue;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#contact {
    background: goldenrod;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#welcome {
    color: coral;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h2 {
    color:cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

